<style>
     
  ion-content{
    --background: #050000ef;
  }
  ion-toolbar{
    --background: #ffffff;
  }
  ion-header{
    --background: #050000ef;
  
  }
  ion-button{
    --background: #990707;
  
  }
  ion-item{
    --background: #f7f1f1;
  }
  ion-content {
      --background: url(../../assets/back.jpg) no-repeat center/cover fixed;
      }
</style>

<ion-content [translucent]> 
<br>
<br>
<br>

<ion-header>
<ion-title> Tips </ion-title>
</ion-header>

<br>
<center><Img src="/assets/cash.ico" style="border-radius:30%;float:left; width:60px;height: 60px;margin-right: 10%;"></center>

  <h1 style="color:black"><b>Cashier</b></h1>


 
  <ion-card>
    <center><ion-label  style="margin-left:5%; color:black"> <b>1. Regularly maintain air-conditioners.</b></ion-label></center>
    <br>
   <ion-label  style="margin-left:10%; color:black">Little Savings Little Work Pets As long as the temperature of your home is set between 78 and 80 degrees, most pets will be comfortable and safe without a fan. If your pet is crated during the day, consider keeping the crate in the basement or other naturally cooler areas in your home. Closing blinds or drapes will help keep your home cool for your pet.</ion-label> 
    <br>
  </ion-card>
  <ion-card>
    <center><ion-label  style="margin-left:5%; color:black"> <b>2. SEAL WINDOWS AND DOORS FOR TROPICAL PETS</b></ion-label></center>
    <br>
   <ion-label  style="margin-left:10%; color:black">Tropical animals such as birds or lizards can’t thrive in a drafty house. Seal windows and doors around your pet’s main habitat to create the perfect climate for them without running up your power usage.</ion-label> 
    <br>
  </ion-card>
  <ion-card>
    <center><ion-label  style="margin-left:5%; color:black"> <b>3. WASH PET BEDDING IN COLD WATER.</b></ion-label></center>
    <br>
   <ion-label  style="margin-left:10%; color:black">This will save energy and still get your pet’s bedding and blankets as clean as possible. Pet laundry can also be hung out to dry instead of using the dryer. This will save even more energy and still keep your pets happy and clean!</ion-label> 
    <br>
  </ion-card>
  <ion-card>
    <center><ion-label  style="margin-left:5%; color:black"> <b>4. USE ENERGY SAVING POWER STRIPS</b></ion-label></center>
    <br>
   <ion-label  style="margin-left:10%; color:black">Plug your computer, cell phone charger, printer, and TV all into an energy efficient power strip instead of a normal power strip. This will reduce the amount of energy you’re using quickly!
  </ion-label> 
    <br>
  </ion-card>
  <ion-card>
    <center><ion-label  style="margin-left:5%; color:black"> <b>5. MAKE SURE AIR VENTS ARE NOT BLOCKED</b></ion-label></center>
    <br>
    <ion-label  style="margin-left:10%; color:black">Ensure that your office’s air conditioning is efficient by making sure that furniture such as bookshelves and file cabinets aren’t blocking air conditioning vents. This will allow for better airflow and more efficient office cooling.</ion-label>
    <br>
  </ion-card>
     <br>
     <br>
  
     <ion-label style=" margin-left: 1%; color:black"><h5><b><i> Education<br> Experience </i> </b></h5></ion-label> <ion-label style="float:right; margin-left: 1%; color:black"><h5  style="float:right; margin-right: 10%;"> Atleast high School Graduate<br> 1 Year </h5></ion-label>